# Gradle / Build
.gradle/
build/
**/build/
.kotlin/
captures/
local.properties

# IDE
.idea/
*.iml
.vscode/

# Android
*.apk
*.aab
*.keystore
*.jks
signing.properties

# Misc
.DS_Store
/captures
.cxx/
/clound

# Python
__pycache__/
*.py[cod]